.goose-text {
  height: 20vh;

  top: 7vh;
  right: 50%;
  left: 38.5%;
}

.title {
  font-family: 'Creepster', cursive;
  color: rgb(239, 141, 50);
  margin-top: 7vh;
}

input {
  width: 10vw;
}

.auth-body {
  display: grid;
  grid-template-rows: 2fr 10fr;
  width: 100vw;
  background-image: url(./spooky-stock-market.jpg);
  background-position: center;
  background-size: cover;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  cursor: pointer;
}

.form {
  margin-bottom: 12vh;
}
