main {
  height: 100vh;
  background-color: rgb(31, 34, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20vh;
  font-size: 2vh;
  border: 4px solid rgb(117, 202, 120);
  color: rgb(108, 215, 112);
  padding: 5vh;
  height: 15vh;
  gap: 2vh;
  font-family: 'Special Elite', cursive;
  padding: 7vh;
  border-radius: 8px;
  background-color: black;
  box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.75);
}

.form button {
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(84, 232, 89);
  font-family: 'Special Elite', cursive;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  border: 2px solid rgb(204, 86, 30);
  border-radius: 8px;
  box-shadow: 1px 1px 8px -1px rgb(204, 86, 30);
  -webkit-box-shadow: 1px 1px 6px -1px rgb(204, 86, 30);
  -moz-box-shadow: 1px 1px 6px -1px rgb(204, 86, 30);
}

.form button:hover {
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
  border: 2px solid rgb(84, 232, 89);
  color: rgb(204, 86, 30);
}

.switch {
  display: flex;
  font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
  margin-bottom: 1vh;
  font-size: 2vh;
  width: 20vh;
  justify-content: space-evenly;
}

.sign-in-toggle {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.sign-in-toggle:hover {
  transform: scale(1.03);
  color: rgb(160, 83, 196);
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.switch a {
  font-size: 2vh;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  color: rgb(204, 86, 30);
}
